# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.qm

build/*
git_info.h

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*
*build-oscar-*

# QtCreator

*.autosave
*.swp
.DS_Store

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

#Remnants of editors etc.
.vscode
*.bak
*~

#Doxygen output does not go in repository
doxydoc